<div style="padding: 24px 128px; background-color: maroon;">
  <div class="navbar">
    <span class="title">Social Network</span>
  </div>

  <div class="nav-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Videos</a></li>
        <li class="breadcrumb-item active" aria-current="page">People</li>
        <li class="breadcrumb-item"><a href="/home">Documents</a></li>
        <li class="breadcrumb-item"><a href="/home">Events</a></li>
        <li class="breadcrumb-item"><a href="/home">Communities</a></li>
        <li class="breadcrumb-item"><a href="/home">Favorites</a></li>
        <li class="breadcrumb-item"><a href="/home">Channels</a></li>
      </ol>
    </nav>
  </div>

  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 d-flex align-items-end">
      <span class="custom-title">Videos</span>
    </div>
    <div class="col-lg-5 col-md-6 d-flex align-items-end">
      <span class="custom-sub-title">Browse all videos</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end">
      <span class="custom-title">Activity</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end">
      <span class="custom-sub-title">View Timeline</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 mb-2">
      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end justify-content-between box-l">
            <div>
              <span class="box-label">How to improve your skills</span> <br>
              <span class="box-sub-label">Waseem Arshaid</span>
            </div>
            <div>
              <span class="box-views">15454 views</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Michael Keliph</span> <span class="box-views">15454 views</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Ahmed Yasin</span> <span class="box-views">1984 views</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Stainor</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Doe</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-center box-border justify-content-center">
            <span>Upload <br> Your Own Video</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12 mb-2" style="height: 600px; overflow-y: scroll;">
      <div class="row">
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-title">Activity</span>
        </div>
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-sub-title">View Timeline</span>
        </div>
      </div>
      <div class="row mb-2 activity-box" *ngFor="let item of [1,2,3,4,5,6,8,1,1,1,1,1]">
        <div class="col p-0">
          <div class="d-flex align-items-end" style="background-color: lightgoldenrodyellow; height: 75px;">
          </div>
        </div>
        <div class="col">
          <span class="activity-label">John Stainor</span>&nbsp;<span class="activity-sub-label">commented</span> <br>
          <div class="activity-desc">Well, I am liking it how it captures the audiencesssss</div>
          <span class="activity-datetime">2 seconds ago</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-3 col-md-6 d-flex align-items-end">
      <span class="custom-title">People</span>
    </div>
    <div class="col-lg-5 col-md-6 d-flex align-items-end">
      <span class="custom-sub-title">View all</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end">
      <span class="custom-title">Channels</span>
    </div>
    <div class="col-lg-2 d-md-none d-lg-flex align-items-end">
      <span class="custom-sub-title">Browse all channels</span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 mb-2">
      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end justify-content-between box-l">
            <div>
              <span class="box-label">How to improve your skills</span> <br>
              <span class="box-sub-label">Waseem Arshaid</span>
            </div>
            <div>
              <span class="box-views">15454 views</span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Michael Keliph</span> <span class="box-views">15454 views</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end justify-content-between box-m">
                <span class="box-sub-label">Ahmed Yasin</span> <span class="box-views">1984 views</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Stainor</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end justify-content-between box-m">
            <span class="box-sub-label">John Doe</span> <span class="box-views">1984 views</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-center box-border justify-content-center">
            <span>Upload <br> Your Own Video</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-5 col-md-6 d-flex align-items-end">
          <span class="custom-title">Documents</span>
        </div>
        <div class="col-lg-5 col-md-6 d-flex align-items-end">
          <span class="custom-sub-title">Browse all documents</span>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-8">
          <div class="d-flex align-items-end box-l">
            <span>How to improve your skills</span>
          </div>
        </div>
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <div class="d-flex align-items-end box-m">
                <span>Michael</span>
              </div>
            </div>
          </div>
          <div class="row" style="height: auto;">
            <div class="col">
              <div class="d-flex align-items-end box-m">
                <span>Ahmed Yasin</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-4">
          <div class="d-flex align-items-end box-m">
            <span>John Stainor</span>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end box-m">
            <span>John Doe</span>
          </div>
        </div>
        <div class="col-4">
          <div>
            <span>Upload Your Own Video</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-12 col-sm-12 mb-2" style="height: 720px; overflow-y: scroll;">
      <div class="row">
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-title">Activity</span>
        </div>
        <div class="col-md-6 d-lg-none d-flex align-items-end">
          <span class="custom-sub-title">View Timeline</span>
        </div>
      </div>
      <div style="height: 600px;">
        <div class="row">
          <div class="col-lg-6 mb-2 pl-0" *ngFor="let item of [1,2,3,4,5,6,1,1,1,1]">
            <div class="d-flex align-items-end box-m">
              <span>John Stainor</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="border-bottom: 4px solid lightgoldenrodyellow;">

  <div class="footer-breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">About</a></li>
        <li class="breadcrumb-item active" aria-current="page">For Business</li>
        <li class="breadcrumb-item"><a href="/home">Suggestion</a></li>
        <li class="breadcrumb-item"><a href="/home">Help & FAQs</a></li>
        <li class="breadcrumb-item"><a href="/home">Contacts</a></li>
        <li class="breadcrumb-item"><a href="/home">Pricing</a></li>
      </ol>
    </nav>
    <div class="mb-3" style="color: lightgoldenrodyellow;">
      Copyright 2013 companyname inc. <br>
      Privacy / Terms
    </div>
  </div>

</div>