.navbar {
  margin-bottom: 32px;
  .title {
    font-size: 32px;
    color: lightgoldenrodyellow;
  }
}

.nav-breadcrumb {
  padding-top: 16px;
  border-top: 1px solid lightgoldenrodyellow;
  border-bottom: 1px solid lightgoldenrodyellow;
}

.nav-breadcrumb > nav, ol, li, a {
  color: lightgoldenrodyellow !important;
  font-weight: 400;
  text-decoration: none;
}

.custom {
  &-title {
    color: lightgoldenrodyellow;
    font-size: 24px;
    font-weight: 400;
    line-height: 2;
  }
  &-sub-title {
    color: lightgoldenrodyellow;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }
}

.box {
  &-label {
    color: maroon;
    font-weight: 700;
    font-size: 24px;
  }
  &-sub-label {
    color: maroon;
    font-weight: 700;
    font-size: 16px;
  }
  &-views{
    color: maroon;
    font-weight: 600;
    font-size: 12px;
  }

  &-m {
    background-color: lightgoldenrodyellow;
    height: 200px;
    padding: 12px;
  }
  &-l {
    background-color: lightgoldenrodyellow;
    height: 100%;
    padding: 12px;
  }
  &-border {
    border: 1px solid lightgoldenrodyellow;
    height: 200px;
    padding: 12px;
    color: lightgoldenrodyellow;
  }
  
}

.activity {
  &-box {
    padding: 8px;
  }

  &-box:hover {
    border: 1px solid lightgoldenrodyellow;
    cursor: pointer;
  }

  &-label {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 12px;
  }
  &-sub-label {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 10px;
  }
  &-desc {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 12px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-datetime {
    color: lightgoldenrodyellow;
    font-weight: 700;
    font-size: 10px;
  }
}